.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.header {
    flex: 1;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
}

.icone {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    margin: 50px 50px 0 50px;
}

.logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8365FF;
    color: white;
    border-radius: 12px;
}

.my-app {
    color: var(--color-primary-text);
}

.titles {
    color: var(--color-primary-text);
    margin: 100px 50px 0 50px;
}

.h1-header {
    margin-top: 37px;
    font-weight: 700;

}

.h4-header {
    font-weight: 400;
    color: #c1b9df;
}

.formulario {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-login {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
}

.header-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.h1-header-login {
    font-size: var(--font-size-h1);
    font-weight: 700;
    margin: 0;
}

.h2-header-login {
    font-size: var(--font-size-h2);
    color: var(--color-secondary);
    font-weight: 400;
    margin: 0;
}

.tags {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

.tags-itens {
    border: 1px solid var(--color-border);
    border-color: #8365FF;
    border-radius: 16px;
    background: #8365FF;
    color: white;
    font-weight: 300;
    padding: 4px 10px 4px 10px;

}

.footer {
    position: fixed;
    bottom: 20px;
    left: 50px;
    color: #c1b9df;
    font-weight: 300;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
}

.senha {
    display: flex;
    flex-direction: column;
}

.dados-invalidos{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-danger);
    background-color: #f7c5c5;
    border-radius: 5px;
    height: 30px;
    gap: 8px;
}

.icone-invalido{
    color: var(--color-danger);
}

.texto-invalido{
    color: var(--color-danger);
}

.button-senha {  
    align-self: flex-end;
    margin-top: 8px;
    font-weight: 100;
    border: 0;
    color: var(--color-primary);
    cursor: pointer;
}

.button-senha:hover{
    color: var(--color-primary-hover);
}