.container-label{
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    gap: 8px;
}

.title{
    color: var(--color-text-secondary);
    font-size: var(--font-size-h4);
    font-weight: 600;
}

.value{
    color: var(--color-text);
    font-size: var(--font-size-h2);
}