:root {

    /* Primary */
    --color-primary: #6D4AFF;
    --color-primary-hover: #5B39F0;
    --color-primary-text: #FFFFFF;

    /* Secondary */
    --color-secondary: #6B7280;
    --color-secondary-hover: #4B5563;
    --color-secondary-text: #FFFFFF;

    /* Success */
    --color-success: #22C55E;
    --color-success-hover: #12863d;
    --color-success-text: #FFFFFF;

    /* Warning */
    --color-warning: #F59E0B;
    --color-warning-hover: #D97706;
    --color-warning-text: #FFFFFF;

    /* Danger */
    --color-danger: #EF4444;
    --color-danger-hover: #DC2626;
    --color-danger-text: #FFFFFF;

    /* Fundo */
    --color-background: #f3f3f3;
    --color-surface: #FFFFFF;

    /* Texto */
    --color-text: #1A1A1A;
    --color-text-secondary: #737373;

    /* Bordas */
    --color-border: #ebe5e5;

    /* Estados */
    --color-success: #16A34A;
    --color-warning: #F59E0B;
}