.container-principal {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  max-width: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 30px;
  box-sizing: border-box;
  padding-right: 20px;
}

.container-pesquisa {
  display: flex;
  flex-direction: column;
  gap: 16px;
}